<h1><u><%= @game.title %></u></h1>
<br>

<h3><u>Game Description: </u> <%= @game.description %></h3><br>

<p>You own it on the: <%= @game.console %></p><br>

<p>The genre of this game is: <%= @game.genre %></p><br>

<p>Complete:   <%= @game.complete %></p><br>
<br>
<br>
<p><a href="/games/<%=@game.id%>/edit">Make changes to this entry?</a></p><br>

<p><a href="/games">Back to my index.</a></p><br>

<p>Don't own it anymore?</p>
<form method="POST" action="/games/<%= @game.id %>">
<input type="hidden" id="hidden" name="_method" value="DELETE">
<input type="submit" value="Delete">
</form>

